<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Atividades</h1>
    </div>

    <p-fieldset legend="Pesquisa" class="ui-g-12">
      <form autocomplete="off" #formulario="ngForm" (ngSubmit)="pesquisar()">

        <div class="ui-g-3 ui-fluid">
          <label>De</label>
          <p-calendar [locale]="pt" dateFormat="dd/mm/yy" name="dataInicio" [(ngModel)]="filtro.dataInicio" [showIcon]="true" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>

        <div class="ui-g-3 ui-fluid">
          <label>Até</label>
          <p-calendar [locale]="pt" dateFormat="dd/mm/yy" name="dataFim" [(ngModel)]="filtro.dataFim" [showIcon]="true" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
        </div>

        <div class="ui-g-3 ui-fluid align-button">
          <button pButton type="submit" icon="fa-search" label="Pesquisar"></button>
        </div>

        <div class="ui-g-3 ui-fluid align-button">
          <button pButton type="button" icon="fa-times" label="Limpar" (click)="limpa(formulario)"></button>
        </div>

      </form>
    </p-fieldset>

    <br>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-dataTable [value]="atividades" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" (onLazyLoad)="mudarPagina($event)"
          [totalRecords]="totalRegistros" emptyMessage="Nenhum registro encontrado" #tabela>

          <p-column field="titulo" header="Título"></p-column>
          <p-column field="disciplina.descricao" header="Disciplina" styleClass="col-ativida-disciplina"></p-column>

          <p-column header="Ações" styleClass="col-ativida-acoes">
            <ng-template let-atividade="rowData" pTemplate="body">
              <a pButton icon="fa-eye" pTooltip="Visualizar Atividade" tooltipPosition="top" (click)="exibirAtividade(atividade)"></a>
              <a pButton icon="fa-share" pTooltip="Atribuir Atividade" tooltipPosition="top"></a>
              <a pButton icon="fa-question-circle" pTooltip="Questões" tooltipPosition="top"></a>
              <a pButton icon="fa-pencil" pTooltip="Editar Atividade" tooltipPosition="top" [routerLink]="['/atividade', atividade.codigo]"></a>
              <a pButton icon="fa-times" pTooltip="Excluir Atividade" tooltipPosition="top" (click)="excluirAtividade(atividade)"></a>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>

    <div class="ui-g-3 ui-fluid">
      <a pButton label="Nova" icon="fa-plus" routerLink="/atividade/nova"></a>
    </div>

    <p-confirmDialog #confirmacao>
      <p-footer>
        <button type="button" pButton icon="fa-check" label="Sim" (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="fa-times" label="Não" (click)="confirmacao.reject()"></button>
      </p-footer>
    </p-confirmDialog>


    <p-dialog header="Visualizar" [(visible)]="visualisarAtividade" [width]="800">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label>Disciplina: </label>
          {{atividade?.disciplina.descricao}}
        </div>
        <div class="ui-g-4">
          <label>Classificação: </label>
          {{atividade?.classificacao | classificacaoDisciplina}}
        </div>
        <div class="ui-g-4">
          <label>Data Criação: </label>
          {{atividade?.dataCadastro}}
        </div>
        <div class="ui-g-12">
          <label>Título: </label>
          {{atividade?.titulo}}
        </div>
        <div class="ui-g-12">
          <label>Descrição: </label>
          {{atividade?.descricao}}
        </div>
      </div>
    </p-dialog>

  </div>
</div>
