<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Matriculas</h1>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-12 ui-md-3">
        <label>Nome:</label>
        {{ aluno.nome }}
      </div>

      <div class="ui-g-12 ui-md-3">
        <label>CPF:</label>
        {{ aluno.cpf }}
      </div>

      <div class="ui-g-12 ui-md-3">
        <label>Data Nascimento:</label>
        {{ aluno.dataNascimento | date: 'dd/MM/yyyy' }}
      </div>

      <div class="ui-g-12 ui-md-3">
        <label>E-mail:</label>
        {{ aluno.email.dscEmail }}
      </div>

    </div>

    <div class="ui-g-12">
      <app-turma-info (turmaAtualizada)="atualizaTurma($event)"></app-turma-info>
    </div>

    <!-- OPÇÕES-->
    <div class="ui-g-12 ui-md-4 ui-fluid btn-align">
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <button pButton icon="fa-check" label="Salvar" (click)="salvarMatricula()" [disabled]="false"></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <button pButton type="submit" icon="fa-reply" label="Voltar" routerLink="/aluno"></button>
      </div>
    </div>


    <div class="ui-g-12">
      <p-panel header="Matriculas">

        <p-dataTable [value]="matriculas" [paginator]="true" [responsive]="true" [rows]="10" emptyMessage="Nenhum registro encontrado"
          #tabela>
          <p-column field="turma.periodo" header="Periodo"></p-column>
          <p-column field="turma.serie" header="Série"></p-column>
          <p-column field="turma.descricaoTurma" header="Turma"></p-column>
          <p-column header="Data da matrícula">
            <ng-template let-matricula="rowData" pTemplate="body">
              {{ matricula.dataMatricula | date: 'dd/MM/yyyy'}}
            </ng-template>
          </p-column>

          <p-column header="Ações" styleClass="col-acoes">
            <ng-template let-matricula="rowData" pTemplate="body">
              <a pButton icon="fa-times" pTooltip="Excluir matrícula" tooltipPosition="top" (click)="confirmarExclusaoMatricula(matricula)"></a>
            </ng-template>
          </p-column>

        </p-dataTable>

      </p-panel>
    </div>

    <p-confirmDialog #confirmacao>
      <p-footer>
        <button type="button" pButton icon="fa-check" label="Sim" (click)="confirmacao.accept()"></button>
        <button type="button" pButton icon="fa-times" label="Não" (click)="confirmacao.reject()"></button>
      </p-footer>
    </p-confirmDialog>

  </div>
</div>
