<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Turmas</h1>
    </div>

    <!-- FORMULÁRIO DE PESQUISA -->
    <p-fieldset legend="Pesquisa" class="ui-g-12">
      <form autocomplete="off" #formulario="ngForm" (ngSubmit)="pesquisar()">

        <div class="ui-g">
          <div class="ui-g-3 ui-fluid">
            <label>Ano</label>
            <input pInputText type="text" name="ano" [(ngModel)]="filtro.ano">
          </div>

          <div class="ui-g-3 ui-fluid">
            <label>Periodo</label>
            <p-dropdown [options]="periodos" [autoWidth]="false" name="periodo" [(ngModel)]="filtro.periodo"></p-dropdown>
          </div>

          <div class="ui-g-3 ui-fluid margin-button">
            <button pButton type="submit" icon="fa-search" label="Pesquisar"></button>
          </div>

          <div class="ui-g-3 ui-fluid margin-button">
            <button pButton type="button" icon="fa-times" label="Limpar" (click)="limpa(formulario)"></button>
          </div>

        </div>
      </form>
    </p-fieldset>

  </div>
  <br>
  <!-- TABELA -->
  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="turmas" [paginator]="true" [responsive]="true" [lazy]="true" [rows]="filtro.itensPorPagina" (onLazyLoad)="aoMudarPagina($event)"
        [totalRecords]="totalRegistros" emptyMessage="Nenhum registro encontrado" #tabela>

        <p-column field="numeroTurma" header="Número" styleClass="col-codigo"></p-column>
        <p-column field="ano" header="Ano"></p-column>
        <p-column field="periodo" header="Periodo"></p-column>
        <p-column field="serie" header="Seríe"></p-column>
        <p-column field="descricaoTurma" header="Turma"></p-column>
        <p-column field="sala" header="Sala"></p-column>

        <p-column header="Ações" styleClass="col-acoes">
          <ng-template let-disciplina="rowData" pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/turmas', disciplina.codigo]"></a>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>
  </div>

  <div class="ui-md-3 ui-fluid">
    <a pButton label="Novo" icon="fa-plus" routerLink="/turmas/nova"></a>
  </div>

</div>
