<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibirMenu = !exibirMenu">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibirMenu">
    <li class="navbar-usuario">
      <div>Bem vindo,
        <br> {{ auth.jwtPayload?.nome }} </div>
    </li>

    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.possuiPermissao('ROLE_LISTAR_ALUNO')">
      <a routerLink="/aluno">Aluno</a>
    </li>

    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.possuiPermissao('ROLE_LISTAR_TURMA')">
      <a routerLink="/turma">Turmas</a>
    </li>

    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.possuiPermissao('ROLE_LISTAR_PROFESSOR')">
      <a routerLink="/professor">Professor</a>
    </li>

    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.possuiPermissao('ROLE_LISTAR_DISCIPLINA')">
      <a routerLink="/diciplina">Disciplinas </a>
    </li>

    <li class="navbar-menuitem">
      <a href="javascript:;" (click)="logout()">Sair</a>
    </li>
  </ul>

</nav>
