<div class="container">

  <form autocomplete="off" [formGroup]="alunoForm" (ngSubmit)="salvar()">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Cadastro de Aluno</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome*</label>
        <input pInputText type="text" formControlName="nome" maxlength="50">
        <app-control-erro [exibiErro]="verificaCampoContenErro('nome')" mensagemErro="Nome é obrigatório."></app-control-erro>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>CPF*</label>
        <p-inputMask mask="999.999.999-99" unmask="true" formControlName="cpf" (change)="verificaCpfCadastrado($event)" [disabled]="disableCpf"></p-inputMask>
        <app-control-erro [exibiErro]="verificaCampoContenErro('cpf')" mensagemErro="CPF é obrigatório."></app-control-erro>
        <app-control-erro [exibiErro]="verificaCpfValido()" mensagemErro="CPF inválido."></app-control-erro>
        <app-control-erro [exibiErro]="cpfCadastrado" mensagemErro="CPF já cadastrado."></app-control-erro>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Data Nascimento*</label>
        <p-calendar [locale]="pt" dateFormat="dd/mm/yy" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"
          formControlName="dataNascimento"></p-calendar>
        <app-control-erro [exibiErro]="verificaCampoContenErro('dataNascimento')" mensagemErro="A data de nascimento é obrigatório."></app-control-erro>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="email">
        <label>E-mail*</label>
        <input pInputText type="text" formControlName="dscEmail" email maxlength="50">
        <app-control-erro [exibiErro]="verificaCampoContenErro('email.dscEmail')" mensagemErro="E-mail é obrigatório."></app-control-erro>
        <app-control-erro [exibiErro]="verificaEmailValido()" mensagemErro="E-mail inválido."></app-control-erro>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Sexo*</label>
        <p-dropdown [options]="sexo" [autoWidth]="false" formControlName="sexo"></p-dropdown>
        <app-control-erro [exibiErro]="verificaCampoContenErro('sexo')" mensagemErro="Sexo é obrigatório."></app-control-erro>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Situação*</label>
        <p-selectButton [options]="status" formControlName="status"></p-selectButton>
      </div>

      <!-- OPÇÕES-->
      <div class="ui-g-12 ui-md-4 ui-fluid btn-align">
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <button pButton type="submit" icon="fa-check" label="Salvar" [disabled]="alunoForm.invalid"></button>
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <button pButton icon="fa-reply" label="Voltar" routerLink="/aluno"></button>
        </div>
      </div>

    </div>
  </form>
</div>
