<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Disciplinas</h1>
    </div>

    <p-fieldset legend="Pesquisa" class="ui-g-12">
      <form autocomplete="off" #formulario="ngForm" (ngSubmit)="pesquisar()">

        <div class="ui-g-6 ui-fluid">
          <label>Descrição</label>
          <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
        </div>

        <div class="ui-g-3 ui-fluid align-button">
          <button pButton type="submit" icon="fa-search" label="Pesquisar"></button>
        </div>

        <div class="ui-g-3 ui-fluid align-button">
          <button pButton type="button" icon="fa-times" label="Limpar" (click)="limpa(formulario)"></button>
        </div>

      </form>
    </p-fieldset>
  </div>

  <br>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="disciplinas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
        emptyMessage="Nenhum registro encontrado" (onLazyLoad)="mudarPagina($event)" #tabela>

        <p-column field="codigo" header="Código disciplina" styleClass="col-codigo"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>

        <p-column field="ativa" header="Situação">
          <ng-template let-disc="rowData" pTemplate="body">
            <a href="javascript:;" [pTooltip]="disc.ativa ? 'Desativar' : 'Ativar'" tooltipPosition="top">
              {{ disc.ativa ? 'Ativa' : 'Inativa' }}
            </a>
          </ng-template>
        </p-column>

        <p-column header="Ações" styleClass="col-acoes">
          <ng-template let-disciplina="rowData" pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" (click)="editar(disciplina)"></a>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <div class="ui-g-3 ui-fluid">
    <a pButton label="Novo" icon="fa-plus" (click)="novaDisciplina()"></a>
  </div>

</div>

<p-dialog header="Nova Disciplina" [(visible)]="display" [minWidth]="400" [width]="400" [responsive]="true" showEffect="fade"
  [modal]="true">

  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="email">Disciplina*</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="email" autocomplete="off" maxlength="50" [(ngModel)]="disciplina.descricao" />
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" label="Cancelar" (click)="cancelaCadastro()"></button>
      <button type="submit" pButton icon="fa-check" label="Salvar" (click)="salvar()"></button>
    </div>
  </p-footer>
</p-dialog>
