<div class="container">

  <form>
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Cadastro de Professor</h1>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Nome*</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>CPF*</label>
        <p-inputMask mask="999.999.999-99"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Sexo*</label>
        <p-dropdown [options]="sexo" [autoWidth]="false"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>E-mail*</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Situação*</label>
        <p-selectButton [options]="status"></p-selectButton>
      </div>

    </div>
  </form>
</div>
