<div class="container">
  <form autocomplete="off" [formGroup]="atividadeForm" (ngSubmit)="salvar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova atividade</h1>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="disciplina">
        <label>Disciplina</label>
        <p-dropdown [options]="disciplinas" formControlName="codigo" [autoWidth]="false"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Titulo</label>
        <input pInputText type="text" formControlName="titulo" maxlength="30">
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <textarea pInputTextarea formControlName="descricao" maxlength="1024" [rows]="10"></textarea>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid btn-align">

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <button pButton type="submit" icon="fa-check" label="Salvar"></button>
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <button pButton type="submit" icon="fa-reply" label="Voltar"></button>
        </div>

      </div>
    </div>
  </form>
</div>
