<div class="container">
  <form autocomplete="off" [formGroup]="atividadeForm" (ngSubmit)="salvar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova atividade</h1>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid" formGroupName="disciplina">
        <label>Disciplina*</label>
        <p-dropdown [options]="disciplinas" formControlName="codigo" [autoWidth]="false"></p-dropdown>
        <app-control-erro [exibiErro]="verificaCampoContemErro('disciplina.codigo')" mensagemErro="Titulo é obrigatório."></app-control-erro>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Classificação</label>
        <p-dropdown [options]="classificacoes" formControlName="classificacao" [autoWidth]="false"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Titulo*</label>
        <input pInputText type="text" formControlName="titulo" maxlength="30">
        <app-control-erro [exibiErro]="verificaCampoContemErro('titulo')" mensagemErro="Titulo é obrigatório."></app-control-erro>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição*</label>
        <textarea pInputTextarea formControlName="descricao" maxlength="1024" [rows]="10"></textarea>
        <app-control-erro [exibiErro]="verificaCampoContemErro('descricao')" mensagemErro="Descrição é obrigatório."></app-control-erro>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid btn-align">

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <button pButton type="submit" icon="fa-check" label="Salvar" [disabled]="atividadeForm.invalid"></button>
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <button pButton icon="fa-reply" label="Voltar" routerLink="/atividade"></button>
        </div>

      </div>
    </div>
  </form>
</div>
